.logo {
	margin-top: 55px;
	width: 298px;
}

.admin_login_st {
	margin-top: 10px;
	font-weight: bold;
}

.t_m_25 {
	margin-top: 25px;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-15 {
	margin-top: 15px;
}

@media all and (max-width:480px) {
	.btn-xs-block { width: 100%; display:block; }
} 


@media all and (max-width:575px) {

	.ladda-button {
		margin-top:15px;
		margin-left: -15px;
	}

}
.page-item.active .page-link {color: #fff !important;}

.inmodal .modal-header {
	padding: 15px !important;
}
.md-15 {
	margin-bottom: 15px;
}
.md-20 {
	margin-bottom: 20px;
}
.pro_action_btns {
	padding-top: 5px !important;
	margin-right: 0px !important;
}
.faq-item {
	border-bottom: 2px solid #f2f2fb;
}

#data_1{
	width: 100% !important;
}

#data_download{
	width: 100% !important;
}

.promo_from_date {
	width: 100% !important;
	margin-top: 15px;
}

.product-price.promo-date  {
	left: 0;
	background: #000;
	margin: 30px 15px 0px;
}

.wrapper .change_pass.middle-box {
	margin-top: 0px !important;
}
.change_pass.middle-box {
	padding-top: 0px !important;
}

#delete_selected {
	padding: 7px; margin-left: 5px;
}


.silver{ 
	background-color:#bdbdbd;
	color: #fff;
}
.gold{ 
	background-color:#d6a542;
	color: #fff;
}
.platinum{ 
	background-color:#585858;
	color: #fff;
}
.zenith{ 
	background-color:#e10988;
	color: #fff;
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

#start_end_date {
	width: 275px !important;
}

.btn-login {
	color: #fff;
	background-color: #42403f;
	border-color: #000;
}
.btn-login:hover,
.btn-login:focus,
.btn-login.focus {
	background-color: #000;
	border-color: #000;
	color: #FFFFFF;
}
.btn-login.disabled,
.btn-login:disabled {
	color: #fff;
	background-color: #F26522;
	border-color: #F26522;
}
.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled).active,
.show > .btn-login.dropdown-toggle {
	color: #fff;
	background-color: #F26522;
	border-color: #F26522;
}

.admin-name {
	color: #fff;
}

.forgot-error p {
	margin-bottom: 0px;
}

.banner-switcher .switchery {
	height: 22px;
	width: 40px;
}

.banner-switcher .switchery > small {
	height: 22px;
	width: 23px;
}

.upload-image {
	padding: 3px 12px;
}

.area-status {
	padding-top: 7px;
}

.slider-btn{
	margin-top: -6px;
}

.slider-media {
	padding-bottom: 10px;
}

.slider-media > div {
	padding-top: 7px;
}

.file-box {
	width: 200px !important;
}

.related-images {
	padding: 50px 28px;
}

.related-name {
	word-break: break-word;
}
.remove-related{
	margin-bottom: -18px;
}
.gray_bg{
	background: #f8f8f8;
}
.padding_bottom_zero{
	padding-bottom: 0px;
}
.display_img{
	height: auto;
	width: 50px;
}
.right{
	float: right;
}
.adjust_title{
	padding-right: 15px;
}
.adjust_header{
	margin-top: 8px !important;
}
.adjust_model{
	width: 601px !important;
}

.stat-percent > a {
	text-decoration: underline;
}

.stat-percent > a:hover {
	text-decoration: none;
}
.progress,.eprogress {
	display: none;
	position: relative;
	margin: 20px 0 0;
	width: 100%;
	background-color: #bfbfbf;
	border: none;
	padding: 1px;
	height: 1.5rem;
	border-radius: 3px;
}

.progress_bar,.eprogress_bar {
	background-image: linear-gradient(45deg, #60d04b, #256719);
	width: 0%;
	height: 1.4rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.percent,.epercent {
	position: absolute;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -20px;
	-webkit-border-radius: 4px;
}

#outputImage,#eoutputImage {
	display: none;
}
.center {
	text-align: center;
}


/*a.remove-related {*/
	/*	position: absolute;*/
	/*	top: -8px;*/
	/*	right: 16px;*/
	/*	font-size: 20px;*/
	/*	z-index: 99;*/
	/*	color: #adabab;*/
	/*	background: #fff;*/
	/*	line-height: 1;*/
	/*}*/
	/*.rmveable-main {*/
		/*	position: relative;*/
/*}*/
