/* ----------------------------------------------------------------

	Custom CSS



	Add all your Custom Styled CSS here for New Styles or

	Overwriting Default Theme Styles for Better Hanlding Updates

-----------------------------------------------------------------*/

#logo .standard-logo>img {

    height: 96px;

}



.mega-menu-column.col-6 {

    width: 16%;

}



.mega-menu-title img {

    margin-top: 20px;

}



.video-overlay {

    background-color: rgba(0, 0, 0, 0.55);

}



.banner-slide3 {

    background-image: url('../images/slider/swiper/3.jpg');

    background-position: center top !important;

}



.banner-slide1 {

    background-image: url('../images/slider/swiper/1.jpg');

    background-position: center top;

}



.bg-orange .top-links>ul>li>a,

.bg-orange #top-social li a {

    color: #fff;

}



.bg-orange .top-links>ul>li>a:hover {

    color: #fff;

    background: #f15a24;

}



#primary-menu .portfolio-item {

    width: initial;

}



.m-0 {

    margin: 0;

}



.fancy-title.light-title h2 {

    background: #292929 !important;

}



#tesimonials .fancy-title.light-title h2 {

    background: #383838 !important;

}



#header.sticky-header:not(.static-sticky) #primary-menu.sub-title>ul>li>a,

#header.sticky-header:not(.static-sticky) #primary-menu.sub-title>div>ul>li>a {

    text-transform: uppercase;

    font-size: 13px;

}



.section-spacing,

.promo.promo-light.section-spacing {

    padding: 80px 0 60px;

}



.counter-section {

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),

        url('../images/products/log-stack-background-(2).jpg');

    background-size: 100% auto;

    background-position: center center;

    background-repeat: no-repeat;

}



.custom-btn {

    background-image: linear-gradient(141deg, #b04621 0%, #e45d2e 51%, #f15a24 75%);

}



.text-orange {

    color: #f15a24 !important;

}



.contactus-section {

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)),

        url('../images/products/banner_image.jpg');

    background-size: 100% auto;

    background-position: center;

    background-repeat: no-repeat;

}



.promo a.button.custom-btn {

    position: static;

    margin-top: 0;

}



.modal-video-wrap {

    background: #fff;

    padding: 5px 5px 0;

}



.margin-left-sm {

    margin-left: 10px;

}



.icon-text {

    display: block;



}



.home-quality-section {

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.63)), url("../images/products/with_fireplace.jpg");

    background-size: cover;

    background-repeat: no-repeat;

    background-position: calc(100%) calc(80%) !important;

    background-attachment: fixed;

}



.breadcrumb>.active {

    color: #fff;

}



.select2-search__field::placeholder {

    color: #fff;

}



#header.full-header.custom-header,

#header.full-header.custom-header #header-wrap {

    height: auto !important;

}



#header.full-header.custom-header #header-wrap>#top-bar {

    background: rgba(0, 0, 0, 0.1);

}



#header.full-header.custom-header.sticky-header #header-wrap {

    background: #000 !important;

}



#header.full-header.custom-header.sticky-header #header-wrap>#top-bar {

    border-bottom: 1px solid #444 !important;

}



.light-gray-bg {

    background: #343434 !important;

}



.dark-bg {

    background: #292929 !important;

}



.text-dark {

    color: #292929 !important;

}



.product-price.project-info {

    font-size: 20px;

    line-height: 2;

}



#map.custom-height {

    height: 560px;

}



.fa.fa-houzz {

    line-height: 30px;

}



.footer-social>a {

    float: none;

    margin: 0 1px;

    display: inline-block;

}



.select2-selection.select2-selection--multiple {

    background: #161616 !important;

    border: 1px solid rgba(255, 255, 255, 0.2) !important;

    min-height: 30px;

    color: #fff;

}



.select2-dropdown.select2-dropdown--below, .select2-dropdown.select2-dropdown--above {

    background: #161616 !important;

    border: 1px solid rgba(255, 255, 255, 0.2) !important;

}



.select2-container--default .select2-results__option[aria-selected=true] {

    background-color: rgba(255,255,255,0.1) !important;

}



.select2-search__field {

    padding: 0 6px 0 !important;

}



.select2-results__group {

    color: #fff !important;

}



.select2-results__option.select2-results__option--highlighted {

    background: #f15a24 !important;

}



.select2-results__option {

    color: #fff !important;

}



.gm-ui-hover-effect {

    display: none !important;

}



#top-bar .top-links>ul>li>ul>li,

#top-bar .top-links>ul>li>ul>li>a {

    height: auto;

}

#posts .custom-img-width.entry-image{

    width: 150px !important;

}
div#top-cart {
    margin-left:25px;
}
.carousel_footer .owl-item {
    padding: 0 15px;
}
.copyright-title {
    margin: 0 5px;
}
.footer-blog .testi-image > a > span,
.footer-blog .testi-image > a,
.footer-blog .testi-image {
    width: 90px;
}
.custom-search-main{
    display: none;
}
      #header #header-wrap #logo .standard-logo > img,
      #header #header-wrap #logo .retina-logo > img {

    transition: all 500ms !important;
    -webkit-transition: all 500ms !important;
    -o-transition: all 500ms !important;

    }
/*.portfolio-image {
    height: auto !important;
}*/




@media only screen and (max-width: 991px) {

    .promo.promo-dark.promo-section>div.container {

        text-align: center;

        margin: 0;

        padding: 0;

        width: auto !important;

        word-wrap: break-word;

    }

    .search-main{

        padding-top: 80px;

    }



}

@media only screen and (max-width: 767px){

        #logo .standard-logo > img,

        #logo .retina-logo > img {

    height: 65px;

    margin: 17px 0;

    }

    #top-cart a .icon-heart3, 

    #top-search-trigger .icon-search3, 

    #primary-menu-trigger .icon-reorder {

    font-size: 30px !important;

    }

    #top-search a {

    right: 70px;

    }

    #top-cart-trigger {

    right: 15px;

}

#top-cart > a > span {

    top: -14px;

    right: -28px;

    font-size: 12px;

    width: 20px;

    height: 20px;

    line-height: 20px;

    font-weight: bold;

}
/*.responsive-sticky-header .standard-logo,.responsive-sticky-header .retina-logo,*/
     .responsive-sticky-header #top-search {

    display: none !important;

    }
.responsive-sticky-header #logo .standard-logo > img,.responsive-sticky-header #logo .retina-logo > img{
margin: 0;
}
.position_relative{
    position: relative !important;
}


/******************
search style
*******************/
.search-box {
    background: #333333;
    position: absolute;
    top: 45px;
    right: 28.7%;
    width: 300px;
    height: 59px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}
.search-box > form input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    font-size: 20px;
    height: auto;
}
.search-box > form {
    margin: 0;
}
div#top-search {
    display: none;
}
.custom-search {
    font-size: 17px;
    margin: 0px 10px;
    color: #BBB;
}
.custom-search-main{
    display: block;
}

/******************
search style
*******************/
#header #header-wrap div#logo{
   -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important;
    -o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important;
    transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important; 
}
#header #header-wrap #primary-menu-trigger{
    -webkit-transition: opacity .2s .2s ease, top .4s ease !important;
    -o-transition: opacity .2s .2s ease, top .4s ease !important;
    transition: opacity .2s .2s ease, top .4s ease !important;
}
#header #header-wrap #top-cart{
    -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important;
    -o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important;
    transition: height .4s ease, margin .4s ease, opacity .2s .2s ease !important;
}
.owl-carousel .owl-nav [class*=owl-prev],
.owl-carousel .owl-nav [class*=owl-next]{
    opacity: 1 !important;
}
.fireplace-twitter{
    width: 100%;
    padding: 0;
}
.col_full.nomargin.contact-info-sec {
    margin: 0 !important;
}
.col_full.nomargin.contact-info-sec .col_one_third.col_last.nobottommargin{
 margin: 0 0 20px !important;   
}

}



@media only screen and (max-width: 375px) {

    .promo.promo-dark.promo-section>div.container>h3>span {

        display: block;

    }

}



@media only screen and (max-width: 479px) {

    .si-share>span {

        display: inline-block;

    }

    #top-cart {

        display: block;

    }

    #logo .retina-logo > img {

    margin: 17px 0 0;

}

#posts .pagination-sm > li > a, .pagination-sm > li > span {

    padding: 5px 9px;

}
.add-to-cart {
    width: 100%;
    margin: 5px 0 0 !important;
}



}
@media screen and (max-width: 1199px) and (min-width: 992px){
.about-plans-sec .heading-block h1 {
    font-size: 31px;
}
}

.home-area > h1 {
    font-size: 30px;
    background: #292929 !important;
}
.sub-home {
    font-size: 18px;
}
.home-section > h2 {
    font-size: 32px;
}
.home-parallax > h2 {
    font-size: 36px;
}
.home-counter {
    margin: 11px 0 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-testimonials > h3 {
    color: #DDD;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.blog-post-footer{
    font-size: 14px;
    margin: 0 0 20px;
}
.mega-menu-content .mega-menu-column .portfolio-desc > a {
    color: #eee;
    font-weight: 600;
    font-size: 16px;
}
.mega-menu-content .mega-menu-column .portfolio-desc > a:hover{
    color: #BBB;
}
.top-cart-title span {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.slider-caption > p:first-child {
    font-size: 64px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}
#login-form-heading, .register-form {
    margin: 0;
    line-height: 1.42857143;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.about-desc {
    font-size: 32px !important;
}
.about-testimonials {
    background-color: #292929 !important;
    font-size: 30px;
}
.about-parallax {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.contact-details {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    color: #f15a24;
}
.heading-block .text-size-26,
.text-size-26 {
    font-size: 26px;
}
.heading-block .text-size-32,
.text-size-32 {
    font-size: 32px;
}
.faq .text-size-24,
.text-size-24{
    font-size: 24px;
}
.text-size-28{
    font-size: 28px;
}
.heading-block .text-size-18,
p.p-head.text-size-18,
.text-size-18{
    font-size: 18px;
}
.terms-of-use > p,
.privacy-page > p{
    margin: 0 0 14px;
}
.title-heading{
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.heading-block .text-size-14,
.text-size-14{
    font-size: 14px;
}
.text-size-36{
    font-size: 36px;
}
.t-bold{
    font-weight: bold;
}
.bold-600{
	font-weight: 600;
}
.p-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.p-head > span {
    color: #f15a24;
}
.f-railway{
	font-family: 'Raleway', sans-serif;
}
.icon-title{
	margin: 0;
    font-size: 13px;
    display: inline-block;
    font-weight: 600;
}
#page-title {
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-back {
    background: #383838 !important;
}
